name: "CI: Build & Test"

on:
  workflow_call:
    inputs:
      build_version:
        required: true
        type: string
    secrets:
      SNYK_TOKEN:
        required: true
      YTTOKEN:
        required: true
  workflow_dispatch:

env:
  UPSTREAM_GITHUB_REPOSITORY: "mxpv/podsync"                         # Upstream repo

jobs:
  quick-build:
    runs-on: ubuntu-latest
    outputs:
      imagename: ${{ env.imagename }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      -
        name: Prepare
        id: prep
        run: |
          IMAGENAME="ttl.sh/$(uuidgen | tr '[:upper:]' '[:lower:]'):3h"
          echo "imagename=${IMAGENAME}" >> $GITHUB_ENV
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      -
        name: Build and export
        id: build
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6
        with:
          context: .
          push: true
          tags: ${{ env.imagename }}
          build-args: |
            UPSTREAM_VERSION=${{ inputs.build_version }}

  snyk-scan:
    needs: [quick-build]
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      -
        name: Pull docker image
        id: load
        run: |
          docker pull ${{needs.quick-build.outputs.imagename}}
      -
        name: Test the image with Snyk for high-severity vulnerabilities
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: ${{needs.quick-build.outputs.imagename}}
          args: --file=Dockerfile --severity-threshold=high

  function-test:
    needs: [quick-build]
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      -
        name: Pull docker image
        id: load
        run: |
          docker pull ${{needs.quick-build.outputs.imagename}}
      -
        name: Test docker image
        id: test
        env:
          YTTOKEN : ${{secrets.YTTOKEN}}
          TESTIMAGE: "${{needs.quick-build.outputs.imagename}}"
        shell: bash
        run: |
          test/test.sh
